#map img {
  margin-left: 5px;
  margin-top: -2px;
}

#map {
  margin-right: 8%;
  margin-top: 50px;
}

#content {
  width: 35%;
}

.minimap {
  position: absolute;
  right: 0px;
  bottom: 0px;
}
.minimap img {
  width: 70%;
}
.minimap svg {
  position: absolute;
  left: 0px;
  top: 0px;
}

.minimap svg rect, .minimap svg line {
  fill: none;
  stroke: black;
  stroke-width: 2px;
}

.countryname {
  font-size: 1.5em;
}

g.city text {
  fill: #444;
  font-variant: small-caps;
}
g.city circle {
  fill: none;
  stroke: #888;
  stroke-width: 1.5px;
  font-size: 16px;
}

g[name='Dar\'a'].city circle {
  fill: lightblue;
}
g[name='Dar\'a'].city text {
  font-size: 1.2em;
}

g.capital path {
  stroke: #dc5555;
  stroke-width: 2px;
  fill: none;
}

.land {
}