#map {

  margin-right: 8%;
  margin-top: 50px;

  img {
    margin-left: 5px;
    margin-top: -2px;
  }

  .countryname {
    font-size: 1.5em;
  }

  g.city {
    text {
      fill: #444;
      font-variant: small-caps;
    }

    circle {
      fill: none;
      stroke: #888;
      stroke-width: 1.5px;
      font-size: 16px;
    }
  }

  g[name='Dar\'a'].city {
    circle {
      fill: lightblue;
    }
    text {
      font-size: 1.2em;
    }
  }

  g.capital path {
    stroke: #dc5555;
    stroke-width: 2px;
    fill: none;
  }
}

#content {
  width: 35%;
}

.minimap {
  position: absolute;
  right: 0px;
  bottom: 0px;

  img {
    width: 70%;
  }

  svg {
    position: absolute;
    left: 0px;
    top: 0px;

    rect, line {
      fill: none;
      stroke: black;
      stroke-width: 2px;
    }

  }
}





