/* ---- brand ------*/
$c_brand_blue =  rgb(69, 125, 222);                      // #457dde
$c_brand_red =   rgb(205, 29, 0);                        // #cd1d00

/* ---- chrome ------*/
$c_chrome_darkest =  hsla(0, 0%, 8%, 1);                 // #151515
$c_chrome_darker =   lighten($c_chrome_darkest, 1%);     // #181818
$c_chrome_dark =     lighten($c_chrome_darkest, 6%);     // #242424

$c_chrome_lightest = hsla(0, 0%, 98%, 1);                // #fafafa
$c_chrome_lighter =  darken($c_chrome_lightest, 4.75%);  // #eee
$c_chrome_light =    darken($c_chrome_lightest, 8.5%);   // #e4e4e4

/* ---- accent ------*/
$c_accent_primary = hsla(0, 66%, 60%, 1);            // #dc5555
$c_accent_primary_dark = darken($c_accent_primary, 40%);  // #511
$c_accent_primary_light = lighten($c_accent_primary, 35%); // #fbeaea

/* ---- Text ------*/
$c_text_darkest = hsla(0, 0%, 13.5%, 1);              // #222
$c_text_darker = lighten($c_text_darkest, 13.6%);    // #444
$c_text_dark = lighten($c_text_darkest, 26.9%);    // #666
$c_text_lightest = hsla(0, 0%, 100%, 1);               // #fff
$c_text_lighter = darken($c_chrome_lightest, 31.5%);  // #aaa
$c_text_light = darken($c_chrome_lightest, 44.5%);  // #888