@font-face {
  font-family: MuseoSans;
  src: url("fonts/MuseoSans-300.otf") format("opentype");
}

@font-face {
  font-family: MuseoSansMedium;
  src: url("fonts/MuseoSans_500.otf") format("opentype");
}

@font-face {
  font-family: MuseoSansBold;
  src: url("fonts/MuseoSans_900.otf") format("opentype");
}