#map {

  img {
    width: 640px;
    margin-left: -7px;
    margin-top: 5px;
  }

  svg {

    .idp.selected, .camp.selected {
      stroke: #fafafa;
      stroke-width: 1px;
    }
    .boundary {
      fill: none;
    }

    g.city {
      display:none;
    }
    g.city[name=Aleppo] {
      display:inherit;
      circle {
        r: 1;
        transform: translate(3px, 1px);
        stroke-width: 1px
      }
      text {
        font-size: 0.5em;
      }
    }

    g.capital {
      text {
        font-size: 0.5em;
      }
    }
  }
}

.crossing {
  fill: none;
  stroke: black;
  stroke-width: 1px;
}
.camp {
  path {
    fill: #511;
    cursor: pointer;
  }
}
.idp {
  fill: #dc5555;
  cursor: pointer;
}

.tipsy .campname {
  font-family: MuseoSansMedBold;
}
