#map {

  img {
    width: 640px;
    margin-left: -7px;
    margin-top: 5px;
  }
}

g.waffle, .legend, .other {
  rect {
    fill: red;
  }

  rect.outline {
    fill: none;
    stroke: black;
    stroke-width: 2px;
  }
}

.tipsy span.val {
  font-family: MuseoSansMedBold;
}


.other {
  position: absolute;
  bottom: 75px;
  right: 100px;
}