body {
  padding: 0
  margin: 0
}

h1 {
  margin: 10px
}

/*
 * FOR SKETCH 02 and 03! Re-enable
#map {
  margin: 5%
}

#map svg {
  width: 49%
  float:left
  border: 1px solid #999;
}
*/

path {
  fill: none;
  stroke: #fff;
  stroke-width: .5px;
  stroke-linejoin: round;
}

path[name='Antarctica'] {
  fill: none;
  stroke: none;
}

line {
  stroke-linecap: round
}