@import '../../bower_components/mapbox.js/mapbox.standalone.css';

body {
  padding: 0
  margin: 0
}

h1 {
  margin: 10px
}

#map

#map {

  .circles {
    circle:hover {
      cursor: pointer;
    }
  }

  .callout {
    position: absolute;
    z-index: 100;
    width: 300px;
    margin: 20px;
    margin-left: 60px;
    background-color: white;
    padding: 20px;
    cursor: default;
  }

  .legend {
    position: absolute;
    z-index: 100;
    width: 300px;
    bottom: 20px;
    height: 200px;
    margin-left: 60px;
  }

  .leaflet-popup-pane {
    z-index: 200;
  }

  a {
    cursor: pointer;
  }

  line {
    stroke-linecap: round
  }
}


