#map {

  margin-right: 8%;
  margin-top: 50px;

  width: 512px;
  display: block;
  margin: 0 auto;

  img {
    margin-left: 5px;
    margin-top: -2px;
  }

  svg {
    background-position: 5px -2px;
    background-repeat: no-repeat;
  }

  .countryname {
    font-size: 1.5em;
  }

  g[name='Dar\'a'].city {
    circle {
      fill: lightblue;
    }
    text {
      font-size: 1.2em;
    }
  }


}

.minimap {
  position: absolute;
  right: 0px;
  bottom: 0px;

  img {
    width: 70%;
  }

  svg {
    position: absolute;
    left: 0px;
    top: 0px;

    rect, line {
      fill: none;
      stroke: black;
      stroke-width: 2px;
    }

  }
}

.minimap {
  transform: scale(0.7);
}

@media screen and (min-width: 900px) and (max-width: 1400px) {

  .col-40 {
    width: 37%
  }

  .col-60 {
    width: 57%
  }

  .minimap {
    transform: scale(1);
  }
}

@media screen and (min-width: 1016px) {
  .col-40 {
    width: 37%;
  }

  .col-60 {
    width: 57%;
  }

  .minimap {
    transform: scale(1);
  }

}

@media screen and (max-width: 602px) {

  #map {
   /* transform: scale(0.8);
    width: auto;*/
  }

  .minimap {
    display: none;
  }
}



